<div ng-include="'partials/navbar'"></div>

<!-- div class="jumbotron">
  <h4>Strengths Finder.</h4>
</div -->

<div class="row marketing">
  Search: <input ng-model="searchText">
  <ul>
  <li ng-repeat="person in people | filter:searchText">
    <span title="<{{person.email}}>">{{person.name}}</span>:
    <span ng-if="loggedInUser.email"
          ng-repeat="strength in person.strengths"
          class="strength {{strength.area}}">{{strength.name}}</span>
    <span ng-if="!loggedInUser.email"
          class="strength Hidden">(Strengths hidden.)</span>

  </li>
  </ul>
</div>

<div ng-include="'partials/footer'"></div>
