<div ng-include="'partials/navbar'"></div>

<!-- div class="jumbotron">
  <h4>Strengths Finder.</h4>
</div -->

<div class="row marketing">
  <h1>Add your Strengths</h1>
  <p>Select your top five strengths using the drop-downs below
  (the ranking is important!):</p>
</div>

<div ng-if="loggedInUser.email">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label"
             for="inputName">Name</label>
      <div class="col-sm-5">
        <input ng-model="loggedInUser.name" type="text"
               id="inputName" class="form-control"
               placeholder="Type your name…">
      </div>
      <div class="col-sm-5">
        <p class="form-control-static">&lt;{{loggedInUser.email}}&gt;</p>
      </div>
    </div>

    <div class="form-group"
         ng-repeat="topStrength in topFiveStrengths">
      <label class="col-sm-2 control-label">#{{$index + 1}}</label>
      <div class="col-sm-5">
        <select class="form-control" ng-model="topFiveStrengths[$index]"
                ng-options="strength.name for strength in strengths">
          <option value="">Select your #{{$index + 1}} Strength</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2"></div>
      <button type="button" class="btn btn-primary" ng-click="save()">Save!</button>
    </div>

  </form>

</div>

<div ng-include="'partials/footer'"></div>
